In [ ]:
import matplotlib as mp
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/content/sample_data/california_housing_test.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

#

In [ ]:
dataframe = pd.DataFrame(data)
log_transform = np.log1p(dataframe)

/usr/local/lib/python3.10/dist-packages/pandas/core/internals/blocks.py:351: RuntimeWarning: invalid value encountered in log1p
  result = func(self.values, **kwargs)

In [ ]:
print("Original Dataframe: \n", dataframe,"\n")
print("Log Transform: \n",log_transform,"\n")

Original Dataframe:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

Log Transform:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0           NaN  3.647276            3.332205     8.265136        6.495266
1           NaN  3.562749            3.784190     7.320527        5.739793
2           NaN  3.549043            3.332205     8.185907        6.230481
3           NaN  3.550192            3.367296     4.219508        2.772589
4           NaN  3.619797            2.995732     7.124478        5.501258
...         ...       ...                 ...          ...             ...
2995        NaN  3.567277            3.178054     7.280008        6.466145
2996        NaN  3.557061            3.332205     8.567506        6.987490
2997        NaN  3.618993            2.397895     6.863803        5.308268
2998        NaN  3.558201            3.713572     4.574711        2.708050
2999        NaN  3.567277            3.761200     7.476472        5.575949

      population  households  median_income  median_house_value
0       7.338238    6.408529       2.029266           12.750433
1       6.697034    5.627621       1.525839           12.081082
2       7.303170    6.206576       1.915952           12.508031
3       3.912023    2.484907       1.965138           12.706851
4       6.746412    5.472271       1.370546           11.310822
...          ...         ...            ...                 ...
2995    7.138073    6.410175       0.778866           12.323860
2996    8.159661    6.944087       1.479466           12.376663
2997    6.542472    5.398163       1.190736           11.034906
2998    3.850148    2.708050       1.451801           11.998439
2999    6.625392    5.564520       2.257671           13.122367

[3000 rows x 9 columns]

In [ ]:
maxabsscaled_df = (dataframe-dataframe.min())/(dataframe.max()-dataframe.min())
print(maxabsscaled_df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0      0.219814  0.513889            0.509804     0.127414        0.121654
1      0.606811  0.181624            0.823529     0.049402        0.056858
2      0.657379  0.130342            0.509804     0.117691        0.093225
3      0.600619  0.134615            0.529412     0.002004        0.002400
4      0.465428  0.402778            0.352941     0.040566        0.044674
...         ...       ...                 ...          ...             ...
2995   0.445820  0.198718            0.431373     0.047431        0.118147
2996   0.623323  0.160256            0.509804     0.172481        0.199372
2997   0.462332  0.399573            0.176471     0.031205        0.036736
2998   0.728586  0.164530            0.764706     0.002956        0.002215
2999   0.469556  0.198718            0.803922     0.057778        0.048182

      population  households  median_income  median_house_value
0       0.128416    0.122565       0.421277            0.674763
1       0.067393    0.055804       0.213728            0.322512
2       0.123973    0.100041       0.365064            0.519371
3       0.003688    0.001826       0.388684            0.643978
4       0.070830    0.047687       0.168108            0.123979
...          ...         ...            ...                 ...
2995    0.105029    0.122768       0.046834            0.424083
2996    0.292624    0.209821       0.199356            0.449633
2997    0.057670    0.044237       0.123419            0.082722
2998    0.003437    0.002435       0.191094            0.293193
2999    0.062699    0.052354       0.555916            1.000000

[3000 rows x 9 columns]

In [ ]:
minmax_scaled = dataframe * (dataframe.max() - dataframe.min()) + dataframe.min()
print(minmax_scaled)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -1306.8445  382.3432              1378.0  118274946.0       3580639.0
1    -1270.5070  353.2336              2194.0   45970446.0       1679272.0
2    -1265.7589  348.7408              1378.0  109263522.0       2746421.0
3    -1271.0884  349.1152              1429.0    2039754.0         81257.0
4    -1283.7823  372.6088               970.0   37781010.0       1321750.0
...         ...       ...                 ...          ...             ...
2995 -1285.6234  354.7312              1174.0   44143806.0       3477716.0
2996 -1268.9566  351.3616              1378.0  160044114.0       5861196.0
2997 -1284.0730  372.3280               511.0   29104470.0       1088819.0
2998 -1259.0728  351.7360              2041.0    2922630.0         75840.0
2999 -1283.3947  354.7312              2143.0   53733666.0       1424673.0

      population  households  median_income  median_house_value
0     18336415.0   2986370.0      96.324472        1.645946e+11
1      9651375.0   1365058.0      52.686120        8.427895e+10
2     17704125.0   2439362.0      84.505359        1.291640e+11
3       584575.0     54210.0      89.471677        1.575754e+11
4     10140505.0   1167938.0      43.094237        3.901185e+10
...          ...         ...            ...                 ...
2995  15007945.0   2991298.0      17.595636        1.074377e+11
2996  41707285.0   5105410.0      49.664278        1.132633e+11
2997   8267495.0   1084162.0      33.698108        2.960508e+10
2998    548785.0     68994.0      47.927154        7.759394e+10
2999   8983295.0   1281282.0     124.633212        2.387510e+11

[3000 rows x 9 columns]

In [ ]:
zscore = (dataframe-dataframe.mean())/dataframe.std()
print(zscore)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0     -1.233523  0.814497           -0.146975     0.596319        0.315284
1      0.646236 -0.645823            1.127377    -0.505466       -0.529167
2      0.891858 -0.871210           -0.146975     0.459002       -0.055216
3      0.616160 -0.852428           -0.067328    -1.174887       -1.238892
4     -0.040503  0.326159           -0.784152    -0.630257       -0.687953
...         ...       ...                 ...          ...             ...
2995  -0.135744 -0.570694           -0.465563    -0.533300        0.269573
2996   0.726439 -0.739734           -0.146975     1.232803        1.328145
2997  -0.055541  0.312072           -1.500975    -0.762472       -0.791404
2998   1.237734 -0.720952            0.888436    -1.161434       -1.241297
2999  -0.020452 -0.570694            1.047730    -0.387169       -0.642242

      population  households  median_income  median_house_value
0       0.130224    0.317681       1.510494            1.227494
1      -0.576200   -0.582646      -0.112305           -0.259427
2       0.078795    0.013924       1.070971            0.571551
3      -1.313675   -1.310570       1.255656            1.097543
4      -0.536415   -0.692108      -0.469003           -1.097477
...          ...         ...            ...                 ...
2995   -0.140507    0.320418      -1.417231            0.169323
2996    2.031163    1.494401      -0.224680            0.277173
2997   -0.688762   -0.738630      -0.818421           -1.271629
2998   -1.316586   -1.302360      -0.289279           -0.383189
2999   -0.630540   -0.629167       2.563224            2.600385

[3000 rows x 9 columns]

# Outlier detection

In [ ]:
def outlier_detection(column):
  Q1 = column.quantile(0.25)
  Q3 = column.quantile(0.75)
  IQR = Q3-Q1
  lower_fence = Q1-1.5*IQR
  upper_fence = Q3 + 1.5*IQR
  outliers = (column<lower_fence) | (column>upper_fence)
  return outliers

In [ ]:
outliers_iqr = dataframe.apply(outlier_detection)
print("Outliers: \n",outliers_iqr)

threshold = 3
zoutliers = (abs(zscore)>threshold)
print("ZScore outliers: ",zoutliers)

Outliers:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0         False     False               False        False           False
1         False     False               False        False           False
2         False     False               False        False           False
3         False     False               False        False           False
4         False     False               False        False           False
...         ...       ...                 ...          ...             ...
2995      False     False               False        False           False
2996      False     False               False        False           False
2997      False     False               False        False           False
2998      False     False               False        False           False
2999      False     False               False        False           False

      population  households  median_income  median_house_value
0          False       False          False               False
1          False       False          False               False
2          False       False          False               False
3          False       False          False               False
4          False       False          False               False
...          ...         ...            ...                 ...
2995       False       False          False               False
2996        True       False          False               False
2997       False       False          False               False
2998       False       False          False               False
2999       False       False           True                True

[3000 rows x 9 columns]
ZScore outliers:        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0         False     False               False        False           False
1         False     False               False        False           False
2         False     False               False        False           False
3         False     False               False        False           False
4         False     False               False        False           False
...         ...       ...                 ...          ...             ...
2995      False     False               False        False           False
2996      False     False               False        False           False
2997      False     False               False        False           False
2998      False     False               False        False           False
2999      False     False               False        False           False

      population  households  median_income  median_house_value
0          False       False          False               False
1          False       False          False               False
2          False       False          False               False
3          False       False          False               False
4          False       False          False               False
...          ...         ...            ...                 ...
2995       False       False          False               False
2996       False       False          False               False
2997       False       False          False               False
2998       False       False          False               False
2999       False       False          False               False

[3000 rows x 9 columns]